body {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", Helvetica, sans-serif;
}

button {
  border: 0;
  border-radius: 0.188rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

a {
  text-decoration: none;
  color: #00b3e5;
}

h1 {
  font-size: 32px;
}

p {
  font-size: 17px;
}

/* General classes for text */
.caps {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.blue-text {
  color: #00b3e5;
  font-weight: 700;
}

/* Header-container */
.header-container {
  margin: 30px 0 6px 0;
  border-bottom: 1px solid #bfbfbf;
  height: auto;
}

/* Header */
.header-wrapper {
  width: 100vw;
}

header {
  max-width: 1100px;
  height: 57px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  min-width: 350px;
  min-height: 56px;
}

.sub-button {
  background-color: #61ad39;
  padding: 7px;
  color: white;
  min-width: 240px;
  min-height: 46.66;
  flex: 0 0 240px;
}

/* Nav bar */
nav {
  width: 100vw;
  padding: 10px 0 14px 0;
}

.nav-sections {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.nav-sections a {
  font-size: 18px;
  font-weight: 700;
  margin-right: 16.5px;
  padding-bottom: 5px;
}

.nav-sections > div {
  display: inline-block;
}

nav a:hover {
  color: #00b3e5;
  border-bottom: 5px solid #002837;
}

.nav-item2 {
  color: #00b3e5;
}

/* Section */
section {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}

/* Article */
article {
  width: 780px;
  padding-top: 16px;
}

article h1 {
  font-weight: 700;
  font-size: 32px;
  font-size: 3.125em;
  margin-bottom: 15px;
}

#details {
  margin-bottom: 10px;
}

#author {
  margin-bottom: 10px;
}

article figcaption {
  font-size: 12px;
  color: #4d4d4d;
}

article figure {
  margin-bottom: 22px;
}

article p {
  margin-bottom: 11px;
}

article .more-topics {
  padding-top: 22px;
  display: flex;
}

.more-topics span {
  margin-right: 11px;
}

.more-topics button {
  margin-right: 11px;
  margin-bottom: 11px;
  background: rgb(1, 86, 136);
}

/* Aside */

aside {
  width: 300px;
}
