body {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", Helvetica, sans-serif;
}

button {
  border: 0;
  border-radius: 0.188rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: "Titillium Web", Helvetica, sans-serif;
}

button:hover {
  filter: brightness(0.9);
}

a {
  text-decoration: none;
  color: #00b3e5;
}

h1 {
  font-size: 32px;
}

p {
  font-size: 17px;
}

/* General classes for text */
.caps {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.blue-text {
  color: #00b3e5;
  font-weight: 700;
}

/* Header-container */
.header-container {
  margin: 30px 0 6px 0;
  height: auto;
}

/* Header */
.header-wrapper {
  width: 100%;
}

header {
  max-width: 1100px;
  height: 57px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  min-width: 350px;
  min-height: 56px;
}

.sub-button {
  background-color: #61ad39;
  padding: 7px;
  color: white;
  min-width: 240px;
  min-height: 46.66;
  flex: 0 0 240px;
  line-height: 1em;
}

.left-header {
  width: 220px;
}
.left-header a {
  color: #999999;
  font-family: serif;
  word-wrap: normal;
  width: 100px;
  font-size: 16px;
}

.left-header a:hover {
  text-decoration: underline;
}

/* Nav bar */
nav {
  width: 100%;
  padding: 10px 0 14px 0;
  background-color: white;
  border-bottom: 1px solid #bfbfbf;
}

.nav-sticky {
  position: fixed;
  top: 0;
  height: 18px;
  z-index: 3;
}

nav a {
  color: #002837;
}

.nav-sections {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.nav-sections a {
  font-size: 18px;
  font-weight: 700;
  margin-right: 16.5px;
  padding-bottom: 5px;
}

.nav-sections > div {
  display: inline-block;
}

nav a:hover {
  color: #00b3e5;
  border-bottom: 5px solid #002837;
}

.selected {
  color: #00b3e5;
  border-bottom: 5px solid #002837;
}

.nav-item2 {
  color: #00b3e5;
}

/* Section */
section {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  width: 780px;
}

/* Article */
article {
  padding-top: 16px;
  padding-bottom: 16px;
}

article h1 {
  font-weight: 700;
  font-size: 32px;
  font-size: 3.125em;
  margin-bottom: 15px;
}

#details {
  margin-bottom: 10px;
}

#details * {
  color: #484848;
}

#details a {
  font-weight: 700;
}

#author {
  margin-bottom: 10px;
}

article figcaption {
  font-size: 12px;
  color: #4d4d4d;
}

article figure {
  margin-bottom: 22px;
}

article p {
  margin-bottom: 11px;
}

article .more-topics {
  padding-top: 22px;
  display: flex;
}

.more-topics span {
  margin-right: 11px;
}

.more-topics button {
  margin-right: 11px;
  margin-bottom: 11px;
  background: rgb(1, 86, 136);
}

/* Part after article */
.below-float {
  clear: both;
}

#mag {
  display: flex;
  justify-content: center;
  padding-top: 11px;
}

#mag-column1 {
  width: 191px;
}

#mag-column2 {
  width: 191px;
  display: flex;
  flex-direction: column;
}

#mag-column2 button {
  margin-bottom: 11px;
}

#mag img {
  width: 185px;
  height: 243px;
}

.subscribe {
  background-color: #00b3e5;
}

.view-in-the-app {
  background-color: #20b2aa;
}

.buy-in-print {
  background-color: #ff0000;
}

/* Aside */
.aside-wrapper {
  min-width: 300px;
}

aside {
  margin-left: 16px;
  font-family: "Titillium Web", Helvetica, sans-serif;
}

.aside-sticky {
  position: sticky;
  top: 50px;
  right: 175px;
  width: 300px;
  z-index: 2;
}

.aside-tabs {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
}

.aside-tab {
  font-weight: 700;
  color: black;
  background-color: #f5f5f5;
  padding: 7.5px;
  margin-right: 3px;
  font-size: 14px;
  flex: 1 0 auto;
  text-align: center;
}

.aside-tab-right {
  margin-right: 0;
}

.aside-tab-highlight:hover {
  filter: brightness(0.9);
}

.aside-tab-selected {
  background-color: #00b3e5;
  color: white;
}

.aside-tab-selected {
}

.float-card {
  padding: 11px;
  display: flex;
  margin-bottom: 3px;
  background-color: #f5f5f5;
}

.float-card span {
  font-size: 22px;
  font-weight: 700;
  margin-right: 22px;
}

.float-card span:hover {
  color: #00b3e5;
}

.float-no {
  font-size: 32px;
  font-weight: 700;
  align-self: center;
  color: #00b3e5;
}

/* Cards */
.cards-section {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 16px;
}
.cards-container {
  display: flex;
  flex-direction: row;
}

.card {
  margin-right: 22px;
  margin-bottom: 22px;
  width: 259px;
}

.card a {
  word-wrap: normal;
  font-weight: 700;
  font-size: 22px;
  color: #000;
}

.cards-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.card img {
  width: 259px;
  height: 172px;
  margin-bottom: 11px;
}

.card-top {
  position: relative;
  float: left;
  left: 0;
  top: 28px;
  padding: 7px;

  background: #484848;
  color: white;
  font-size: 14px;
}

.purple {
  background: #79227d;
}

.prom-stories {
  max-width: 1100px;
  margin: 0 auto;
}

/* Footer */
footer {
  font-family: serif;
  width: 100%;
  background-color: #f5f5f5;
  margin-top: 30px;
  padding: 22px 0;
  clear: both;
}

footer a {
  color: black;
}

.footer-wrapper {
  width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.sign-up-wrapper {
  margin-bottom: 11px;
  padding: 11px 0;
}

.sign-up {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  font-family: "Titillium Web", Helvetica, sans-serif;
}

.sign-up-wrapper label {
  font-family: serif;
  font-size: 16px;
  margin: 0 11px 11px 0;
}

.sign-up-wrapper input {
  border: 0;
  background: transparent;
  border-bottom: 2px solid #000;
  font-family: serif;
  font-size: 16px;
  margin: 0 22px 11px 0;
  padding: 0 22px 0 3px;
  line-height: 1.3em;
}

.sign-up-wrapper button {
  background-color: #005587;
  width: 225px;
  padding: 7px;
}

.footer-links .row1,
.row2,
.row3 {
  padding-bottom: 11px;
  margin-bottom: 11px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.row1 {
  border-bottom: 1px solid #bfbfbf;
}

.left-border {
  padding-right: 11px;
  margin-right: 11px;
  border-right: 1px solid black;
}

.manage-pref {
  background-color: #005587;
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.manage-pref:hover {
  filter: brightness(1.1);
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.back-to-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 144px;
}

.back-to-top span {
  font-family: "Titillium Web", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.back-to-top svg {
  width: 40px;
  height: 40px;
}
